<div class="row top">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="details">
      <div class="title">Find your nearby
        vaccination center</div>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-4" style="    margin: 0 0 0 1em;">
          <form class="details-form" [formGroup]="vaccinationCenter" (ngSubmit)="findVaccinationCenter()">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="label">PIN : </div>
                <input type="text" class="form-control" formControlName="pin" maxlength="6" placeholder="PIN Code" />
              </div>
            </div>
            <div class="row date-picker">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="label">Date: </div>
                <input type="text" [singleDatePicker]="true" [autoApply]="true" ngxDaterangepickerMd
                  [minDate]="getCurrentDate()" formControlName="date" class="form-control date-range-picker"
                  [locale]="{format: 'DD-MM-YYYY'}" readonly />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="submit" [disabled]="vaccinationCenter.invalid"
                  class="btn btn-primary btn-block">Submit</button>

                <div class="slot-booking"><a target="_" href="https://www.cowin.gov.in/">Book your vaccination slot</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div>
      <div *ngIf="sessionData.length" class="list">
        <ul *ngFor="let session of sessionData">
          <div><b>Name:</b> {{session.name}}</div>
          <div><b>Address:</b> {{session.address}}</div>
          <div><b>Block Name:</b> {{session.block_name}}</div>
          <div><b>District Name:</b> {{session.district_name}}</div>
          <div><b>State Name:</b> {{session.state_name}}</div>
          <div><b>Age Group:</b> {{session.min_age_limit == 45 ? '45+' : '18+'}}</div>
          <div><b>Vaccine:</b> {{session.vaccine}}</div>
          <div><b>Available Capacity:</b> {{session.available_capacity}}</div>
          <div><b>Fee:</b> {{session.fee}}</div>
        </ul>
      </div>
      <div *ngIf="dataFetched && !sessionData.length" class="emptyList">
        No vaccination center available in this area. Please try again after some time.
      </div>
    </div>
  </div>
</div>